.lang-wrapper {
    flex: 0;
    -webkit-perspective: 1000;
    padding-left: 10px;

    div {
        cursor: pointer;
            img {
                vertical-align: middle;
            }

    }
}